# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipch
.vs/BulkRunner/v17/ipch/AutoPCH/9d662c4dc2e13e74/MAIN.ipch
*.ipch
.vs/BulkRunner/v17/ipch/AutoPCH/9d662c4dc2e13e74/MAIN.ipch
BulkRunner/x64/Debug/vc143.idb
BulkRunner/x64/Debug/vc143.pdb
.vs/BulkRunner/FileContentIndex/d1b6d271-47fc-4598-84c0-abbbc63ebbe0.vsidx
.vs/BulkRunner/FileContentIndex/63e5b9bd-c3bd-4d24-8c7d-9dcb27f5607a.vsidx
.vs/BulkRunner/FileContentIndex/4e22e825-af8d-419c-a3db-cbb1658b43b0.vsidx
.vs/BulkRunner/FileContentIndex/403e44a0-cbcb-413c-a986-6fd45d2eb887.vsidx
/.vs/BulkRunner/v17/Browse.VC.opendb
.vs/BulkRunner/v17/ipch/AutoPCH/9d662c4dc2e13e74/MAIN.ipch
